In [125]:
import pandas as pd
import json

In [126]:
with open('30challenge.json') as file:
    gross_json = json.load(file)
gross_json

[{'curso': 'IntroduÃ§Ã£o Ã\xa0 programaÃ§Ã£o',
  'categoria': 'ProgramaÃ§Ã£o',
  'carga_horaria': '20 horas',
  'concluintes': 100,
  'data_inicio': '2022-01-01',
  'data_conclusao': '2022-01-20',
  'descricao': 'Curso introdutÃ³rio Ã\xa0 programaÃ§Ã£o com Python',
  'preco': '99.90',
  'instrutor': {'nome': 'JoÃ£o Silva',
   'email': 'joao.silva@emailaleatorio.com',
   'telefone': '(11) 9999-9999'}},
 {'curso': 'Excel para iniciantes',
  'categoria': 'Produtividade',
  'carga_horaria': None,
  'concluintes': None,
  'data_inicio': None,
  'data_conclusao': None,
  'descricao': None,
  'preco': None,
  'instrutor': {'nome': 'Maria Oliveira',
   'email': 'maria.oliveira@emailaleatorio.com',
   'telefone': '(11) 8888-8888'}},
 {'curso': 'Marketing digital para negÃ³cios',
  'categoria': 'Marketing',
  'carga_horaria': '30 horas',
  'concluintes': 75,
  'data_inicio': '2022-03-01',
  'data_conclusao': '2022-03-31',
  'descricao': 'Curso introdutÃ³rio em marketing',
  'preco': 89.9,
  'instrutor': {'nome': 'Ana Santos',
   'email': 'ana.santos@emailaleatorio.com',
   'telefone': '(11) 7777-7777'}},
 {'curso': 'InteligÃªncia artificial',
  'categoria': 'ProgramaÃ§Ã£o',
  'carga_horaria': '40 horas',
  'concluintes': '',
  'data_inicio': '2022-04-01',
  'data_conclusao': '',
  'descricao': 'Curso avanÃ§ado sobre inteligÃªncia artificial com Python',
  'preco': 129.9,
  'instrutor': {'nome': '',
   'email': 'contato@emailaleatorio.com',
   'telefone': ''}},
 {'curso': 'InglÃªs para negÃ³cios',
  'categoria': 'Idiomas',
  'carga_horaria': '20 horas',
  'concluintes': 30,
  'data_inicio': '',
  'data_conclusao': '',
  'descricao': 'Curso de inglÃªs para negÃ³cios',
  'preco': 69.9,
  'instrutor': {'nome': 'John Smith', 'email': '', 'telefone': ''}},
 {'curso': 'IntroduÃ§Ã£o Ã\xa0 programaÃ§Ã£o',
  'categoria': 'ProgramaÃ§Ã£o',
  'carga_horaria': '20 horas',
  'concluintes': 100,
  'data_inicio': '2022-01-01',
  'data_conclusao': '2022-01-20',
  'descricao': 'Curso introdutÃ³rio Ã\xa0 programaÃ§Ã£o com Python',
  'preco': '99.90',
  'instrutor': {'nome': 'JoÃ£o Silva',
   'email': 'joao.silva@emailaleatorio.com',
   'telefone': '(11) 9999-9999'}}]

In [127]:
data = pd.json_normalize(gross_json)
data

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,instrutor.nome,instrutor.email,instrutor.telefone
0,IntroduÃ§Ã£o Ã programaÃ§Ã£o,ProgramaÃ§Ã£o,20 horas,100,2022-01-01,2022-01-20,Curso introdutÃ³rio Ã programaÃ§Ã£o com Python,99.90,JoÃ£o Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Excel para iniciantes,Produtividade,None,None,None,None,None,None,Maria Oliveira,maria.oliveira@emailaleatorio.com,(11) 8888-8888
2,Marketing digital para negÃ³cios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutÃ³rio em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
3,InteligÃªncia artificial,ProgramaÃ§Ã£o,40 horas,,2022-04-01,,Curso avanÃ§ado sobre inteligÃªncia artificial...,129.9,,contato@emailaleatorio.com,
4,InglÃªs para negÃ³cios,Idiomas,20 horas,30,,,Curso de inglÃªs para negÃ³cios,69.9,John Smith,,
5,IntroduÃ§Ã£o Ã programaÃ§Ã£o,ProgramaÃ§Ã£o,20 horas,100,2022-01-01,2022-01-20,Curso introdutÃ³rio Ã programaÃ§Ã£o com Python,99.90,JoÃ£o Silva,joao.silva@emailaleatorio.com,(11) 9999-9999

In [128]:
data.isna().sum().sum()

6

In [129]:
data[data.isna().any(axis=1)]

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,instrutor.nome,instrutor.email,instrutor.telefone
1,Excel para iniciantes,Produtividade,None,None,None,None,None,None,Maria Oliveira,maria.oliveira@emailaleatorio.com,(11) 8888-8888

In [130]:
data.dropna(inplace= True)
data.reset_index(drop= True, inplace= True)

In [131]:
data.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [132]:
data.drop_duplicates(inplace= True)
data.reset_index(drop= True, inplace= True)

In [133]:
data

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,instrutor.nome,instrutor.email,instrutor.telefone
0,IntroduÃ§Ã£o Ã programaÃ§Ã£o,ProgramaÃ§Ã£o,20 horas,100,2022-01-01,2022-01-20,Curso introdutÃ³rio Ã programaÃ§Ã£o com Python,99.90,JoÃ£o Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Marketing digital para negÃ³cios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutÃ³rio em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
2,InteligÃªncia artificial,ProgramaÃ§Ã£o,40 horas,,2022-04-01,,Curso avanÃ§ado sobre inteligÃªncia artificial...,129.9,,contato@emailaleatorio.com,
3,InglÃªs para negÃ³cios,Idiomas,20 horas,30,,,Curso de inglÃªs para negÃ³cios,69.9,John Smith,,

In [134]:
data.replace('', pd.NA, inplace= True)

In [135]:
data

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,instrutor.nome,instrutor.email,instrutor.telefone
0,IntroduÃ§Ã£o Ã programaÃ§Ã£o,ProgramaÃ§Ã£o,20 horas,100,2022-01-01,2022-01-20,Curso introdutÃ³rio Ã programaÃ§Ã£o com Python,99.90,JoÃ£o Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Marketing digital para negÃ³cios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutÃ³rio em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777
2,InteligÃªncia artificial,ProgramaÃ§Ã£o,40 horas,<NA>,2022-04-01,<NA>,Curso avanÃ§ado sobre inteligÃªncia artificial...,129.9,<NA>,contato@emailaleatorio.com,<NA>
3,InglÃªs para negÃ³cios,Idiomas,20 horas,30,<NA>,<NA>,Curso de inglÃªs para negÃ³cios,69.9,John Smith,<NA>,<NA>

In [136]:
data.dropna(inplace= True)

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 1
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   curso               2 non-null      object
 1   categoria           2 non-null      object
 2   carga_horaria       2 non-null      object
 3   concluintes         2 non-null      object
 4   data_inicio         2 non-null      object
 5   data_conclusao      2 non-null      object
 6   descricao           2 non-null      object
 7   preco               2 non-null      object
 8   instrutor.nome      2 non-null      object
 9   instrutor.email     2 non-null      object
 10  instrutor.telefone  2 non-null      object
dtypes: object(11)
memory usage: 192.0+ bytes

In [138]:
data = data.astype({'concluintes': 'int16'})

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 1
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   curso               2 non-null      object
 1   categoria           2 non-null      object
 2   carga_horaria       2 non-null      object
 3   concluintes         2 non-null      int16
 4   data_inicio         2 non-null      object
 5   data_conclusao      2 non-null      object
 6   descricao           2 non-null      object
 7   preco               2 non-null      object
 8   instrutor.nome      2 non-null      object
 9   instrutor.email     2 non-null      object
 10  instrutor.telefone  2 non-null      object
dtypes: int16(1), object(10)
memory usage: 180.0+ bytes

In [140]:
data

,curso,categoria,carga_horaria,concluintes,data_inicio,data_conclusao,descricao,preco,instrutor.nome,instrutor.email,instrutor.telefone
0,IntroduÃ§Ã£o Ã programaÃ§Ã£o,ProgramaÃ§Ã£o,20 horas,100,2022-01-01,2022-01-20,Curso introdutÃ³rio Ã programaÃ§Ã£o com Python,99.90,JoÃ£o Silva,joao.silva@emailaleatorio.com,(11) 9999-9999
1,Marketing digital para negÃ³cios,Marketing,30 horas,75,2022-03-01,2022-03-31,Curso introdutÃ³rio em marketing,89.9,Ana Santos,ana.santos@emailaleatorio.com,(11) 7777-7777

In [141]:
data['data_conclusao'] = pd.to_datetime(data['data_conclusao'], format= '%Y-%m-%d')

In [142]:
data['data_inicio'] = pd.to_datetime(data['data_inicio'])

In [143]:
data = data.astype({'preco': 'float16'})

In [144]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 1
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   curso               2 non-null      object
 1   categoria           2 non-null      object
 2   carga_horaria       2 non-null      object
 3   concluintes         2 non-null      int16
 4   data_inicio         2 non-null      datetime64[ns]
 5   data_conclusao      2 non-null      datetime64[ns]
 6   descricao           2 non-null      object
 7   preco               2 non-null      float16
 8   instrutor.nome      2 non-null      object
 9   instrutor.email     2 non-null      object
 10  instrutor.telefone  2 non-null      object
dtypes: datetime64[ns](2), float16(1), int16(1), object(7)
memory usage: 168.0+ bytes