In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('POP2022_Municipios.xls', header= 1, skipfooter= 34)
data

      UF  COD. UF  COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO
0     RO       11          15  Alta Floresta D'Oeste     21558
1     RO       11          23              Ariquemes    100896
2     RO       11          31                 Cabixi      5107
3     RO       11          49                 Cacoal     92202
4     RO       11          56             Cerejeiras     15237
...   ..      ...         ...                    ...       ...
5565  GO       52       22005             Vianópolis     14046
5566  GO       52       22054         Vicentinópolis      8776
5567  GO       52       22203               Vila Boa      3686
5568  GO       52       22302          Vila Propício      5646
5569  DF       53         108               Brasília   2923369

[5570 rows x 5 columns]

In [3]:
df_1 = data.assign(population_parenthesis = data['POPULAÇÃO'].replace(to_replace= "\(\d{1,2}\)", value= '', regex= True),
                   population = lambda x: x.loc[:, 'population_parenthesis'].replace('\.', '', regex= True))
df_1[df_1['POPULAÇÃO'].str.contains('\(', na= False)]

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\('
C:\Users\mhenr\AppData\Local\Temp\ipykernel_4344\3644813547.py:1: SyntaxWarning: invalid escape sequence '\('
  df_1 = data.assign(population_parenthesis = data['POPULAÇÃO'].replace(to_replace= "\(\d{1,2}\)", value= '', regex= True),
C:\Users\mhenr\AppData\Local\Temp\ipykernel_4344\3644813547.py:2: SyntaxWarning: invalid escape sequence '\.'
  population = lambda x: x.loc[:, 'population_parenthesis'].replace('\.', '', regex= True))
C:\Users\mhenr\AppData\Local\Temp\ipykernel_4344\3644813547.py:3: SyntaxWarning: invalid escape sequence '\('
  df_1[df_1['POPULAÇÃO'].str.contains('\(', na= False)]

,UF,COD. UF,COD. MUNIC,NOME DO MUNICÍPIO,POPULAÇÃO,population_parenthesis,population
16,RO,11,205,Porto Velho,461.748(1),461.748,461748
74,AM,13,29,Alvarães,15.916(2),15.916,15916
81,AM,13,409,Barcelos,18.399(3),18.399,18399
83,AM,13,607,Benjamin Constant,37.436(4),37.436,37436
87,AM,13,805,Borba,33.209(5),33.209,33209
88,AM,13,839,Caapiranga,13.851(6),13.851,13851
97,AM,13,1605,Fonte Boa,27.692(7),27.692,27692
98,AM,13,1654,Guajará,13.809(8),13.809,13809
99,AM,13,1704,Humaitá,59.504(9),59.504,59504
103,AM,13,1951,Itamarati,10.783(10),10.783,10783
104,AM,13,2009,Itapiranga,10.183(11),10.183,10183
105,AM,13,2108,Japurá,9.281(12),9.281,9281
107,AM,13,2306,Jutaí,25.048(13),25.048,25048
108,AM,13,2405,Lábrea,47.003(14),47.003,47003
109,AM,13,2504,Manacapuru,102.736(15),102.736,102736
117,AM,13,3205,Novo Airão,15.819(16),15.819,15819
119,AM,13,3403,Parintins,96.251(17),96.251,96251
120,AM,13,3502,Pauini,20.351(18),20.351,20351
123,AM,13,3601,Santa Isabel do Rio Negro,14.305(19),14.305,14305
129,AM,13,4062,Tabatinga,66.837(20),66.837,66837
134,AM,13,4302,Urucará,18.582(21),18.582,18582
135,AM,13,4401,Urucurituba,24.017(22),24.017,24017
210,PA,15,3754,Jacareacanga,24.742(23),24.742,24742
579,MA,21,7506,Paço do Lumiar,145.752(24),145.752,145752
1526,PE,26,5509,Ferreiros,15.040(25),15.040,15040
1937,BA,29,9208,Coronel João Sá,17.000(26),17.000,17000
1973,BA,29,12004,Ibiassucê,10.426(27),10.426,10426
2159,BA,29,27101,Rodelas,10.303(28),10.303,10303
4215,PR,41,21901,Ribeirão do Pinhal,13.053(29),13.053,13053
5509,GO,52,17609,Planaltina,108.846(30),108.846,108846

In [4]:
df_1 = data.assign(population_parenthesis = data['POPULAÇÃO'].replace(to_replace= "\(\d{1,2}\)", value= '', regex= True),
                population = lambda x: x.loc[:, 'population_parenthesis'].replace('\.', '', regex= True))
df_1[df_1['POPULAÇÃO'].str.contains('\(', na= False)]

In [5]:
df_1.columns

Index(['UF', 'COD. UF', 'COD. MUNIC', 'NOME DO MUNICÍPIO', 'POPULAÇÃO',
       'population_parenthesis', 'population'],
      dtype='object')

In [6]:
df_1 = df_1.drop(columns= ['POPULAÇÃO', 'population_parenthesis'])
df_1

      UF  COD. UF  COD. MUNIC      NOME DO MUNICÍPIO population
0     RO       11          15  Alta Floresta D'Oeste      21558
1     RO       11          23              Ariquemes     100896
2     RO       11          31                 Cabixi       5107
3     RO       11          49                 Cacoal      92202
4     RO       11          56             Cerejeiras      15237
...   ..      ...         ...                    ...        ...
5565  GO       52       22005             Vianópolis      14046
5566  GO       52       22054         Vicentinópolis       8776
5567  GO       52       22203               Vila Boa       3686
5568  GO       52       22302          Vila Propício       5646
5569  DF       53         108               Brasília    2923369

[5570 rows x 5 columns]

In [7]:
df_1 = df_1.astype({'population': 'int64'})
df_1

      UF  COD. UF  COD. MUNIC      NOME DO MUNICÍPIO  population
0     RO       11          15  Alta Floresta D'Oeste       21558
1     RO       11          23              Ariquemes      100896
2     RO       11          31                 Cabixi        5107
3     RO       11          49                 Cacoal       92202
4     RO       11          56             Cerejeiras       15237
...   ..      ...         ...                    ...         ...
5565  GO       52       22005             Vianópolis       14046
5566  GO       52       22054         Vicentinópolis        8776
5567  GO       52       22203               Vila Boa        3686
5568  GO       52       22302          Vila Propício        5646
5569  DF       53         108               Brasília     2923369

[5570 rows x 5 columns]

In [8]:
groupby_estados = df_1.groupby('UF')[['population']].sum().reset_index()
groupby_estados

    UF  population
0   AC      829780
1   AL     3125254
2   AM     3952262
3   AP      774268
4   BA    14659023
5   CE     8936431
6   DF     2923369
7   ES     3975100
8   GO     6950976
9   MA     6800605
10  MG    20732660
11  MS     2833742
12  MT     3784239
13  PA     8442962
14  PB     4030961
15  PE     9051113
16  PI     3270174
17  PR    11835379
18  RJ    16615526
19  RN     3303953
20  RO     1616379
21  RR      634805
22  RS    11088065
23  SC     7762154
24  SE     2211868
25  SP    46024937
26  TO     1584306

In [9]:
groupby_estados['population'].sum()

207750291

In [ ]:
dataframe1.merge(dataframe2, on=None, how='inner', left_on='nome_coluna_dataframe1', right_on='nome_coluna_dataframe2')

In [ ]:
df_per_capita = df_1.assign(emission_per_capita = df_1['Emission'] / df_1['population'])
df_per_capita

In [ ]:
import plotly.express as px